@import 'global';

.page-header {
  background-color: #d0d2db;
  margin-bottom: 50px;
  &__text {
    margin: 0;
    @media screen and (max-width: $md) {
      font-size: 30px;
    }
    @media screen and (max-width: $xs) {
      text-align: center;
      font-size: 20px;
    }
    &-wrapper {
      width: 75%;
      padding: 50px 0;
    }
  }
  &__logo {
    width: 25%;
    padding: 25px;
    background: #070f31;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: $md) {
      margin-right: -25px;
    }
    @media screen and (max-width: $xs) {
      margin-right: -10px;
      padding: 10px;
    }
    &-image {
      width: 100px;
      height: 100px;
      @media screen and (max-width: $xs) {
        width: 70px;
        height: 70px;
      }
    }
  }
}
