.footer {
  background-color: #333333;
  border-bottom: 1px solid #fcfcfc;
  color: #fff;
  height: 71px;
  align-items: center;
  justify-content: center;
  &__body {
    align-items: center;
    justify-content: center;
  }
  &__nav {
    & > ul {
      & li {
        display: inline;
        list-style: none;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.8px;
        &:not(:last-child) {
          margin-right: 20px
        }
      }
    }
  }
}
