<header class="header">
  <div class="container">
    <div class="header__body fw">
      <img class="header__logo" src="assets/images/fakedeposit-logo.svg" alt="" />
      <nav class="header__nav">
        <ul>
          <li>
            <a
              [routerLink]="['/calculator' | localize]"
              routerLinkActive="router-link-active"
              href=""
              >{{'HEADER.calculator' | translate}}</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/deposit-guarantee' | localize]"
              routerLinkActive="router-link-active"
              href=""
              >{{'HEADER.deposit-guarantee' | translate}}</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/deposit-tax' | localize]"
              routerLinkActive="router-link-active"
              href=""
              >{{'HEADER.deposit-tax' | translate}}</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/deposit-bank-rates' | localize]"
              routerLinkActive="router-link-active"
              href=""
              >{{'HEADER.deposit-bank-rates' | translate}}</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
