@import 'global';
.header {
  background-color: #fcfcfc;
  color: #070f31;
  padding: 10px 0;
  &__logo {
    height: 50px;
  }
  &__body {
    align-items: center;
  }
  &__nav {
    & > ul {
      & li {
        cursor: pointer;
        display: inline;
        list-style: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 0.8px;
        padding: 5px 10px;
        &:not(:last-child) {
          margin-right: 10px;
        }
        a {
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  &:hover .dropdown__content {
    display: flex;
  }
  &__content {
    display: none;
    background-color: white;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 10px;
    border: 1px solid $medium;
    border-radius: 4px;
    &:hover {
      display: flex;
    }
    a {
      &:hover {
        opacity: 0.5;
      }
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
