@import 'global';
.header {
  background-color: #fcfcfc;
  color: #070f31;
  padding: 10px 0;
  &__logo {
    height: 50px;
  }
  &__link {
    color: $primary;
    &:hover {
      color: #feaa30
    }
  }
  &__body {
    align-items: center;
    @media screen and (max-width: $xs) {
      justify-content: center;
    }
  }
  &__nav {
    & > ul {
      @media screen and (max-width: $xs) {
        display: flex;
        flex-direction: column;
      }
      & li {
        cursor: pointer;
        display: inline;
        list-style: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 0.8px;
        margin: 20px 10px;
        @media screen and (max-width: $xs) {
          margin: 5px 10px;
        }
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}
.router-link-active {
  color: #feaa30;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 5px 0;
  &:hover .dropdown__content {
    display: flex;
  }
  &__content {
    display: none;
    background-color: white;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 0;
    padding: 10px;
    border: 1px solid $medium;
    border-radius: 4px;
    &:hover {
      display: flex;
    }
    a {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
