<div class="calculator">
  <fd-page-header>{{ 'HEADER.calculator' | translate }}</fd-page-header>
  <div class="container">
    <div class="calculator__form-wrapper">
      <form [formGroup]="calculatorForm" class="calculator__form">
        <div class="calculator__form-currency fw">
          <div class="calculator__form-currency-input">
            <fd-input
              [placeholder]="'0'"
              [fontSize]="'42'"
              [control]="initial"
              type="number"
            ></fd-input>
          </div>
          <div class="calculator__form-currency-logo" (click)="changeCurrency()">
            {{ currency }}
          </div>
          <div class="calculator__form-currency-label fw">
            {{ 'CALCULATOR.initial_deposit' | translate }}
          </div>
        </div>
        <fd-input
          [fontSize]="'26'"
          [control]="interest"
          [label]="'CALCULATOR.interest' | translate"
          type="number"
        ></fd-input>
        <fd-input [fontSize]="'26'" [control]="term" [label]="'CALCULATOR.term' | translate" type="number"></fd-input>
      </form>
      <fd-button
        angulartics2On="click"
        angularticsAction="Calculate"
        angularticsCategory="Calculator"
        (clicked)="calculate()"
        [type]="'default'"
        [color]="'primary'"
        > {{ 'CALCULATOR.calculate' | translate }}</fd-button
      >
      <p *ngIf="result">Результат: {{ result | number: '1.2-2' }}</p>
    </div>
    <div [innerHTML]="pageData"></div>
  </div>
</div>
