@import './style-paths/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $primaryRg;
  color: $dark;
  line-height: 1.38;
  background-color: #fcfcfc;
}

.container {
  padding: 0 23px;
  max-width: 1212px;
  margin: 0 auto;
  min-width: 296px;
  @media screen and (max-width: $xs) {
    padding: 0 10px;
  }
}

.text-box {
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 50px;
  margin-bottom: 30px;
  @media screen and (min-width: $lg) {
    text-align: justify;
  }
  @media screen and (max-width: $xs) {
    font-size: 0.9em;
  }
  @media screen and (max-width: $md) {
    padding: 25px;
  }
  @media screen and (max-width: $xs) {
    padding: 15px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
.fw {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #162f99;
  font-weight: bold;
  transition: 0.3s ease;
  &:hover {
    color: $secondary;
  }
}
.btn-link {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 40px;
}
.link {
  transition: 0.3s ease;
  padding: 5px;
  &--medium {
    color: $medium;
    &:hover {
      color: $medium-shade;
    }
  }
  &--primary {
    color: $primary;
    &:hover {
      color: $primary-tint;
    }
  }
}

h1 {
  margin-bottom: 30px;
  font-size: 3em;
  @media screen and (max-width: $xs) {
    margin-bottom: 20px;
    font-size: 2.25em;
  }
}

h2 {
  margin-bottom: 25px;
  font-size: 1.75em;
  @media screen and (max-width: $xs) {
    margin-bottom: 15px;
    font-size: 1.25em;
  }
}

h3 {
  margin-bottom: 20px;
  font-size: 1.75em;
  @media screen and (max-width: $xs) {
    margin-bottom: 10px;
    font-size: 1.15em;
  }
}
ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
ul {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.col-1 {
  width: 8.3%;
}
.col-2 {
  width: 16.6%;
}
.col-3 {
  width: 24.9%;
}
.col-4 {
  width: 32%;
}
.col-5 {
  width: 41.5%;
}
.xs-col-5 {
  @media screen and (max-width: $xs) {
    width: 41.5%;
  }
}
.col-6 {
  width: 49.8%;
}
.col-7 {
  width: 58.1%;
}
.col-8 {
  width: 66.4%;
}
.col-9 {
  width: 75%;
}
.col-12 {
  width: 100%;
}
.md-col-12 {
  @media screen and (max-width: $md) {
    width: 100%;
  }
}
